root = true
[*]
# Most of the standard properties are supported
indent_size = 4
max_line_length = 90
tab_width = 4


# Most frequently used .NET-coding-convention properties are supported
csharp_space_between_parentheses =
csharp_style_var_for_built_in_types = true

# JetBrains Rider custom properties for code formatting styles
resharper_csharp_brace_style = next_line
resharper_csharp_blank_lines_around_invocable = 2

# ReSharper properties
resharper_max_attribute_length_for_same_line = 0
